* {
    background-color: antiquewhite;
}

.div_1 {
    box-sizing: content-box;
    border: solid 8px;
    margin: 16px;
    padding: 16px;
    width: 512px;
    height: 128px;
    background-color: aquamarine
}

.div_2 {
    background-color: azure;
    box-sizing: border-box;
    border: solid 8px;
    margin: 16px;
    padding: 16px;
    width: 512px;
    height: 128px;
}